[submodule "modules/luapp"]
	path = modules/luapp
	url = https://github.com/tnovits-d2d/luapp
[submodule "modules/entt"]
	path = modules/entt
	url = https://github.com/skypjack/entt
[submodule "modules/sol2"]
	path = modules/sol2
	url = https://github.com/ThePhD/sol2
